body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 80vh;
  padding-bottom: 20vh;
  /* Image by Courtneymcook https://unsplash.com/@courtneymcook */
  background-image: url("./assets/ice-cream.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  background-color: rgba(240, 248, 255, 0.88);
  padding: 20px;
  padding-bottom: 80px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.answer {
  position: absolute;
  margin-top: 50px;
  color: rgb(56, 56, 56);
}

/* Styles to Search bar/Button */
.search-container {
  width: 600px;
}

input {
  width: 500px;
  padding: 10px 0px;
  padding-left: 10px;
  border: 2px solid rgba(100, 148, 237, 0.626);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 20px;
}

input:active,
input:focus {
  outline: 2px solid rgba(100, 148, 237, 0.626);
  border-radius: 5px;
}

button {
  cursor: pointer;
  width: 80px;
  padding: 10px 0px;
  background-color: cornflowerblue;
  color: white;
  border: 2px solid rgba(100, 148, 237, 0.626);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
}

/* Styles to Autocomplete Dropdown */
datalist {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 575px;
  padding: 0px 10px;
}

option {
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
  padding: 7px 5px;
  margin-bottom: 15px;
  font-size: 18px;
  cursor: pointer;
}

.highlight {
  background-color: rgb(230, 238, 244);
}

option:hover,
.active {
  background-color: rgb(230, 238, 244);
}
